<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="commandModel">
      <h2 data-cy="commandModelDetailsHeading"><span jhiTranslate="testPrimaryKeyApp.commandModel.detail.title">Command Model</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ commandModel.id }}</span>
        </dd>
        <dt><span jhiTranslate="testPrimaryKeyApp.commandModel.command">Command</span></dt>
        <dd>
          <div *ngIf="commandModel.command">
            <a [routerLink]="['/command', commandModel.command.id, 'view']">{{ commandModel.command.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="testPrimaryKeyApp.commandModel.model">Model</span></dt>
        <dd>
          <div *ngIf="commandModel.model">
            <a [routerLink]="['/model', commandModel.model.id, 'view']">{{ commandModel.model.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/command-model', commandModel.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
